/*BEGIN Fight Stick Controller Styling*/
.controller.custom {
    background: url(https://github.com/MLGESUS5183/MLGESUS5183.github.io/raw/master/guilt/square.png) no-repeat;
    height: 1000px;
    width: 1000px;
}

.custom.disconnected {
    background: url(https://github.com/MLGESUS5183/MLGESUS5183.github.io/raw/master/guilt/square.png) no-repeat;
}

.custom.disconnected div {
    display: none;
}

@keyframes go {
    50%     {top: var(--TY); left: var(--TX);}    
    100%    {top: var(--NY); left: var(--NX);}
}

.custom .fstick {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 350px;
    left: 350px;
    background: url(https://raw.githubusercontent.com/MLGESUS5183/MLGESUS5183.github.io/master/guilt/ball.png);
}

.custom .fstick.up {
    --NX: 350px;
    --NY: 0px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 350px;
    --OY: 0px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.down {
    --NX: 350px;
    --NY: 700px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 350px;
    --OY: 700px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 

}

.custom .fstick.left {
    --NX: 0px;
    --NY: 350px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 0px;
    --OY: 350px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.right {
    --NX: 700px;
    --NY: 350px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 700px;
    --OY: 350px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}
.custom .fstick.up.right {
    --NX: 600px;
    --NY: 100px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 600px;
    --OY: 100px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.up.left {
    --NX: 100px;
    --NY: 100px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 100px;
    --OY: 100px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.down.right {
    --NX: 600px;
    --NY: 600px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 600px;
    --OY: 600px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.down.left {
    --NX: 100px;
    --NY: 600px;
    --TX: calc(calc(var(--OX) + var(--NX)) / 2);
    --TY: calc(calc(var(--OY) + var(--NY)) / 2);
    --OX: 100px;
    --OY: 600px;
    animation-duration: 16ms;
    animation-delay: 16ms;
    animation-fill-mode: both;
    animation-name: go; 
}

/*END Fight Stick Controller Styling*/
