/*BEGIN Fight Stick Controller Styling*/
.controller.custom {
    background: url(https://github.com/MLGESUS5183/MLGESUS5183.github.io/raw/master/guilt/square.png) no-repeat;
    height: 1000px;
    width: 1000px;
}

.custom.disconnected {
    background: url(https://github.com/MLGESUS5183/MLGESUS5183.github.io/raw/master/guilt/square.png) no-repeat;
}

.custom.disconnected div {
    display: none;
}

@keyframes go {
    from {top: var(--TY); left: var(--TX);}
    to {top: var(--NY); left: var(--NX);}
}
:root{
    --OY: var(--OY , 350);
    --OX: var(--OX , 350);
    --timey: 51ms;
}
.custom .fstick {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 350px;
    left: 350px;
    background: url(https://raw.githubusercontent.com/MLGESUS5183/MLGESUS5183.github.io/master/guilt/ball.png);
}

.custom .fstick.up {
    --NX: 350px;
    --NY: 0px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 350px;
    --OY: 0px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.down {
    --NX: 350px;
    --NY: 700px;    
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 350px;
    --OY: 700px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 

}

.custom .fstick.left {
    --NX: 0px;
    --NY: 350px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 0px;
    --OY: 350px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.right {
    --NX: 700px;
    --NY: 350px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 700px;
    --OY: 350px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}
.custom .fstick.up.right {
    --NX: 675px;
    --NY: 25px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 675px;
    --OY: 25px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.up.left {
    --NX: 25px;
    --NY: 25px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 25px;
    --OY: 25px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.down.right {
    --NX: 675px;
    --NY: 675px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 675px;
    --OY: 675px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}

.custom .fstick.down.left {
    --NX: 25px;
    --NY: 675px;
    --TX: var(--OX);
    --TY: var(--OY);
    --OX: 25px;
    --OY: 675px;
    animation-duration: var(--timey);
    animation-fill-mode: both;
    animation-name: go; 
}

/*END Fight Stick Controller Styling*/
