/BEGIN Fight Stick Controller Styling/
.controller.custom {
    background: url(https://MLGESUS5183.github.io/guilt/square.png) no-repeat;
    height: 1000px;
    width: 1000px;
    bottom: -500px;
    right: -500px;
}

.custom.disconnected {
    display: none;
}

.custom .fstick{
    position: absolute;
    bottom: -500px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    background: url(https://mlgesus5183.github.io/guilt/ball.png) no-repeat;
    background-position: center;
    transition: 32ms all linear;
}


.custom .fstick.up {
    background-position: center top;
}

.custom .fstick.down {
    background-position: center bottom;
}

.custom .fstick.left {
    background-position: center left;
}

.custom .fstick.right {
    background-position: center right;
}

.custom .fstick.up.right {
    background-position: 650px 50px;
}

.custom .fstick.up.left {
    background-position: 50px 50px;
}

.custom .fstick.down.right {
    background-position: 650px 650px;
}

.custom .fstick.down.left {
    background-position: 50px 650px;
}


/END Fight Stick Controller Styling/
