/*BEGIN Fight Stick Controller Styling*/
:root{
	--butthaha-speed:(200ms);
}
.controller.custom {
    height: 300px;
    width: 675px;
}
@keyframes butthaha {
    0% {background: url("../assets/button1.svg");}
    25% {background: url("../assets/button2.svg");}
    50% {background: url("../assets/button3.svg");}
    100% {background: url("../assets/button4.svg");}
}

.custom.disconnected { 
}
.custom.disconnected div {
}
.custom .triggers {
    width: 195px;
    height: 130px;
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.custom .trigger-button {
	--butt-r: getQueryVariable("r");
	--butt-g: getQueryVariable("g");
	--butt-b: getQueryVariable("b");
	--butt-a: getQueryVariable("a");
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url(../assets/button1.svg);
}

.custom .trigger-button.pressed {
    animation-name: butthaha;
    animation-duration: var(--butthaha-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.custom .trigger-button.left {
    position: absolute;
    bottom: -5px;
    right: 2px;
}

.custom .trigger-button.right {
    float: left;
    bottom: 27px;
}

.custom .bumpers {
    width: 195px;
    height: 130px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.custom .bumper {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url(../assets/button1.svg);
}

.custom .bumper.pressed {
    animation-name: butthaha;
    animation-duration: var(--butthaha-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.custom .bumper.left {
    position: absolute;
    top: 35px;
    right: 2px;
}

.custom .bumper.right {
    position: absolute;
    left: 0px;
    top: -2px;
}

.custom .abxy {
    width: 200px;
    height: 225px;
    position: absolute;
    bottom: 30px;
    right: 190px;
}

.custom .button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
	position: absolute;
    background: url(../assets/button1.svg);
}

.custom .button.pressed {
    animation-name: butthaha;
    animation-duration: var(--butthaha-speed);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.custom .a {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.custom .b {
    position: absolute;
    bottom: 25px;
    right: 3px;
}

.custom .x {
    position: absolute;
    top: 25px;
    left: 0px;
}

.custom .y {
    position: absolute;
    top: 0px;
    right: 3px;
}

.custom .fstick::before {
    position: absolute;
    width: 300;
    height: 300;
    border-radius: 260px;
    top: 0px;
    left: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300' version='1.1'%3E%3Cdefs%3E%3Cfilter id='sofGlow' height='300%25' width='300%25' x='-75%25' y='-75%25'%3E%3CfeMorphology operator='dilate' radius='2' in='SourceAlpha' result='thicken' /%3E%3CfeGaussianBlur in='thicken' stdDeviation='8' result='blurred' /%3E%3C!-- Change the colour --%3E%3CfeFlood flood-color='Yellow' result='glowColor' /%3E%3CfeComposite in='glowColor' in2='blurred' operator='in' result='softGlow_colored' /%3E%3CfeMerge%3E%3CfeMergeNode in='softGlow_colored'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cstyle%3E polygon %7B fill: yellow; stroke: black; stroke-width: 2px; %7D %3C/style%3E%3Cpolygon points='150,12 115,35 185,35'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(180,150,150)'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(90,150,150)'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(270,150,150)'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(45,150,150)'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(135,150,150)'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(225,150,150)'/%3E%3Cpolygon points='150,12 115,35 185,35' transform='rotate(315,150,150)'/%3E%3C/svg%3E");
}

.custom .fstick {
    position: absolute;
    width: 300;
    height: 300;
    border-radius: 260px;
    top: 0px;
    left: 0px;
    background: url(../assets/stick.svg) no-repeat;
}

.custom .fstick.up {  
   background-position-x: -260px;  
}

.custom .fstick.down {   
   background-position-x: -520px; 
}

.custom .fstick.left {  
   background-position-x: -780px; 
}

.custom .fstick.right {  
   background-position-x: -1040px; 
}

.custom .fstick.up.right {
    background-position-x: -1300px;   
}

.custom .fstick.up.left { 
    background-position-x: -1560px;  
}

.custom .fstick.down.right {  
    background-position-x: -1820px; 
}

.custom .fstick.down.left {  
    background-position-x: -2080px; 
}

/*END Fight Stick Controller Styling*/
